.devcom {
    background: url(../assets/imgs/risquinhos-brancos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 38em;
    width: 100%;
}

.devcom-descricao--paragrafo {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 300;
}