.devcom {
    background: url(../assets/imgs/risquinhos-brancos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45em;
    width: 100%;
}

.devcom-descricao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.devcom-descricao--sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-grow: 2;
}

.devcom-descricao--paragrafo {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 300;

    max-width: 450px;
}

.devcom-img {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.participe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participe-subtitulo {
    color: #F19120;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.participe-paragrafo {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 300;

    max-width: 450px;

    text-align: center;
}

.participe-botao {
    text-align: center;
    justify-content: center;

    background-color: #F19120;
    padding: 17px 24px 16px;
    border-radius: 50px;

    color: #fff;
    font-weight: 550;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;

    text-decoration: none;
    transition: all ease-out 1s;
}
