.eventos {
    background: url(../assets/imgs/background-risquinho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 38em;
    width: 100%;
    
}

.eventos-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1rem;
}

.eventos-sobre--sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-grow: 2;
}

.eventos__titulo {
    color: #F19120;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 300;
    max-width: 450px;
}

.eventos__sub-titulo {
    color: #F19120;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    max-width: 450px;
}

.eventos__descricao {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;

    max-width: 450px;   
}

.eventos-img {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}