.home {
    background: url(../assets/imgs/gelada.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40em;
}

.home-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-sobre--titulo {
    color: #F19120;
    font-family: 'Lato', sans-serif;
    font-size: 3.2rem;
    font-weight: 800;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15rem;
    width: auto;
}

.home-sobre--texto {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    align-items: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
    max-width: 700px;
}

.home-sobre--botao {
    text-align: center;
    width: auto;
    margin-top: 5rem;

    background-color: #F19120;
    padding: 17px 24px 16px;
    border-radius: 50px;

    color: #fff;
    font-weight: 550;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
